*, *::after, *::before{
    box-sizing: content-box;
}
html,body{  
    margin:0;
     padding:0;
     width: 100%;
     height: 100%;
     border :1px solid rgb(233, 111, 121);
}
.calculatrice{
    border :1px solid rgb(197, 250, 99);
    width : 100% - 20px ;
    height : 100% - 20px ;
    background-color: rgb(12, 54, 88);
    background:rgb(187, 206, 142);
    display :flex;
    flex-direction: column;
  }
  .calculatrice .ecran{border :1px solid rgb(238, 183, 224);
    
    width: 100%;
     height: calc(100% -50px);
                      }

  .calculatrice .buttons {border :1px solid rgb(228, 167, 118);
    width: 100%;
    height:200px;
display :flex;
flex-direction :column;
float: left;
padding-top: 150px;}


.calculatrice .buttons .function{
width: 100%;
height: fit-content;
display: flex;
}
.calculatrice .buttons .pavé_Numérique{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.calculatrice .buttons .pavé_Numérique .number{
    width: 216px;
    height: 100%;
    display: block;
    float: left;
}
.calculatrice .buttons .pavé_Numérique .sign{
    width: 80px;
    height: 288px;
    display: block;
    float: left;
}
.button{
    width: 40px;
    height: 30px;
    border-radius:20px;
    background-color: #91dbdb;
    margin: 16px;
  
    display: flex;
    margin-bottom: 10px;
   
   
    cursor: default;
    text-align: center;
    padding: 7px 12px;
    font-size: 20px;
    text-shadow: 0px -2px 02px;
    color: rgb(10, 10, 9);
    font-weight:bold;
    display:inline-block;
    border-top:1px solid #777;
    background:linear-gradient(#ce3636 #777 100%);
    box-shadow:0px 3px 7px rgb(0,0,0,8);
    

    
}